<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<!-- get on correct post or first if we don't have one -->
{% if page.collection %}
    {% assign current = page %}
{% else %}
    {% assign current = site.posts[0] %}
{% endif %}
<head>
    <title>Edwin Leung</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    {% if page.robots %}
    	<meta name="robots" content="{{ page.robots }}" />
	{% endif %}
	{{ seo }}
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>    
<body>
    <div class="wrapper">
        <nav class="clearfix">
            <a href="https://nostalgic-williams-6ec146.netlify.com/"><img src="/images/uploads/logo.svg" width="50" height="50" alt="logo"></a>
        <div class="navIcons">
            <a href="#work">work</a>
            <a href="#about">about</a>
            <a href="Edwin Leung Resume.pdf" target="blank">resumé</a> 
            <a href="https://www.behance.net/edwinleung1" target="blank"><img src="/images/uploads/Be_Black.png" alt="behance icon"></a>
            <a href="https://www.youtube.com/channel/UCOq_X1bXi6nagV5KhBtjggg" target="blank"><img src="/images/uploads/Youtube_Black.png" alt="youtube icon"></a>
        </div>
        </nav>

        <header>
            <h1>EDWIN LEUNG</h1>
		<p> UX Designer creating bridges between people and positive <a href="#work">experiences.</a></p>
        </header>
	
	<div><a href="#work"><img src="/images/uploads/down-arrow.svg" width="50" height="50" alt="logo" class="arrow"></a>
	    </div>
		
	<div class="wrapper container">

		<section class="row">
			<a id="work"> </a>
	<div class="col-md-6">		
	<div id="title">
				<h1>{{ current.title }}</h1>
				<hr>
			</div>
			
			{{ current.content }}
			</div>
			<br>
			<div class="col-md-6">
				<div class="work">
	{% if current.thumbnail %}
                <img style="float: right;" src="{{ current.thumbnail }}" alt="{{ current.title }}" title="{{ current.title }}" />
            {% endif %}
			</div>
		</section>
			<div style="clear: right">
		<section class="row">
			{% if current.myangle %}
			<h2 class="myAngle"> My Angle </h2>
			<p>{{ current.myangle }}</p>
	{% endif %}
		</section>
			</div>
		
		<section>
			
			{% for i in (1..2) %}
                <div class="row">
  		{% assign offset = forloop.index0 | times: 3 %}
                    {% assign posts = site.posts | where_exp:"post","post.url != current.url" %}
                   	{% for post in posts limit:3 offset:offset %}
                        <div class="col-md-4">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">{{ post.title }}</div>
                                <div class="card-body">
                                    <a href="{{ post.url }}#work">
                                        {% if post.thumbnail %}
                                            <img src="{{ post.thumbnail }}" alt="{{ post.title }}" title="{{ post.title }}" />
					    {% endif %}
                                    </a>
                                </div>
                            </div>
				
                        </div>
                    {% endfor %}
                </div>
			{% endfor %}
		</section>

	<script>
		if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
	</script>	    

        <div class="whatIDo">
		<a id="about"> </a>
            <h1>Everything<br>You Need</h1>
            <h2 class="iAm">I AM</h2>
            <ul>
                <li>User Experience Design</li>
                <li>User Interface Design</li>
                <li>Prototyping</li>
                <li>Interaction Design</li>
                <li>Graphic Design</li>
                <li>Visual Design</li>
                <li>Information Architecture</li>
            </ul>
        </div>

        <footer>
		<p>© 2019 EDWIN LEUNG</p>
		<br>
		<p>edwinleung310@gmail.com</p>
        </footer>
    </div>
</body>
</html>
