<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<!-- get on correct post or first if we don't have one -->
{% if page.collection %}
    {% assign current = page %}
{% else %}
    {% assign current = site.posts[0] %}
{% endif %}
<head>
    <title>edwin leung</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    {% if page.robots %}
    	<meta name="robots" content="{{ page.robots }}" />
	{% endif %}
	{{ seo }}
</head>    
<body>
    <div class="wrapper">
        <nav class="clearfix">
            <a href="index.html">edwin leung</a>
        <div class="navIcons">
            <a href="#">work</a>
            <a href="#">about</a>
            <a href="Edwin Leung Resume.pdf" target="blank">resumé</a> 
            <a href="https://www.behance.net/edwinleung1" target="blank"><img src="images/Be_Black.png" alt="behance icon"></a>
            <a href="https://www.youtube.com/channel/UCOq_X1bXi6nagV5KhBtjggg" target="blank"><img src="images/Youtube_Black.png" alt="youtube icon"></a>
        </div>
        </nav>

        <header>
            <h1>Edwin Leung // UX Designer</h1>
            <p> Hi! I'm a UX designer with a passion for creating designs that spark joy.<br> Happy to work with you, just send me an <a href="#">email.</a></p>
        </header>

        <div class="work">
            <a href="#"><img src="images/01.png" alt="project image"></a>
            <a href="#"><img src="images/02.png" alt="project image"></a>
            <a href="#"><img src="images/03.png" alt="project image"></a>
            <a href="#"><img src="images/04.png" alt="project image"></a>
            <a href="#"><img src="images/05.png" alt="project image"></a>
            <a href="#"><img src="images/06.png" alt="project image"></a>
        </div>
 
        <div class="whatIDo">
            <h1>Everything<br>You Need</h1>
            <h2 class="iAm">I AM</h2>
            <ul>
                <li>User Experience Design</li>
                <li>User Interface Design</li>
                <li>Prototyping</li>
                <li>Interaction Design</li>
                <li>Graphic Design</li>
                <li>Visual Design</li>
                <li>Information Architecture</li>
            </ul>
        </div>

        <div class="work2">
            <a href="#"><img src="images/Large_01.png" alt="project image"></a>
            <a href="#"><img src="images/Large_02.png" alt="project image"></a>
        </div>

        <footer>
            <p>© 2019 EDWIN LEUNG</p>
        </footer>
    </div>
</body>
</html>
