<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<!-- get on correct post or first if we don't have one -->
{% if page.collection %}
    {% assign current = page %}
{% else %}
    {% assign current = site.posts[0] %}
{% endif %}
<head>
    <title>edwin leung</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
    {% if page.robots %}
    	<meta name="robots" content="{{ page.robots }}" />
	{% endif %}
	{{ seo }}
	<script src="https://code.jquery.com/jquery-1.12.4.min.js"
		integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
	<script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>    
<body>
    <div class="wrapper">
        <nav class="clearfix">
            <a href="index.html">edwin leung</a>
        <div class="navIcons">
            <a href="#">work</a>
            <a href="#">about</a>
            <a href="Edwin Leung Resume.pdf" target="blank">resumé</a> 
            <a href="https://www.behance.net/edwinleung1" target="blank"><img src="/images/uploads/Be_Black.png" alt="behance icon"></a>
            <a href="https://www.youtube.com/channel/UCOq_X1bXi6nagV5KhBtjggg" target="blank"><img src="/images/uploads/Youtube_Black.png" alt="youtube icon"></a>
        </div>
        </nav>

        <header>
            <h1>Edwin Leung // UX Designer</h1>
            <p> A UX designer building bridges between users and designs.<br> Happy to work with you, just send me an <a href="#">email.</a></p>
        </header>
		
	<div class="wrapper container">

		<section>
			{% if current.thumbnail %}
                <img src="{{ current.thumbnail }}" alt="{{ current.title }}" title="{{ current.title }}" />
            {% endif %}
            <div id="title">
				<h1>{{ current.title }}</h1>
				<hr>
			</div>

			{{ current.content }}

		</section>
		<section>
			{% for i in (1..2) %}
                <div class="row">
                    {% assign offset = forloop.index0 | times: 3 %}
                    {% assign posts = site.posts | where_exp:"post","post.url != current.url" %}
                    {% for post in posts limit:3 offset:offset %}
                        <div class="col-md-4">
                            <div class="card text-white bg-primary mb-3">
                                <div class="card-header">{{ post.title }}</div>
                                <div class="card-body">
                                    <a href="{{ post.url }}">
                                        {% if post.thumbnail %}
                                            <img src="{{ post.thumbnail }}" alt="{{ post.title }}" title="{{ post.title }}" />
                                        {% endif %}
                                    </a>
                                </div>
                            </div>

                        </div>
                    {% endfor %}
                </div>
			{% endfor %}
		</section>
		<section>
			{% for static in site.pages %}
                {% if static.id %}
                    <div id="{{ static.id }}">
                    {% if static.thumbnail %}
                        <img src="{{ static.thumbnail }}" alt="{{ static.title }}" title="{{ static.title }}" />
                    {% endif %}
                    <div id="title">
                        <h1>{{ static.title }}</h1>
                        <hr>
                    </div>

                    {{ static.content }}
                    </div>

                {% endif %}
			{% endfor %}
		</section>
		
	</div>
	<script>
		if (window.netlifyIdentity) {
            window.netlifyIdentity.on("init", user => {
            if (!user) {
                window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
                });
            }
            });
        }
	</script>	    
 
        <div class="whatIDo">
            <h1>Everything<br>You Need</h1>
            <h2 class="iAm">I AM</h2>
            <ul>
                <li>User Experience Design</li>
                <li>User Interface Design</li>
                <li>Prototyping</li>
                <li>Interaction Design</li>
                <li>Graphic Design</li>
                <li>Visual Design</li>
                <li>Information Architecture</li>
            </ul>
        </div>

        <div class="work2">
            <a href="#"><img src="images/Large_01.png" alt="project image"></a>
            <a href="#"><img src="images/Large_02.png" alt="project image"></a>
        </div>

        <footer>
            <p>© 2019 EDWIN LEUNG</p>
        </footer>
    </div>
</body>
</html>
